/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap') async;
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    background-color: antiquewhite;
    font-family: "Jura", sans-serif;
}
header {
    background-color: burlywood;
    padding: 1rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 2px #3a3a3a;
}
.logo {
    font-size: 3rem;
}
.heading {
    font-size: 2rem;
}
/* No styling on links */
a {
    text-decoration: none;
}
/* Image styles */
img {
    max-width: 100%;
}
/* button styles */
.btn {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    color: white;
    /* used BARD AI to get the next line of code so the individual buttons would grow to fill the space on each row of the flexbox */
    flex: 1 1 auto;
    padding: 10px 10px;
    border-radius: 2px;
    text-align: center;
    /* not sure if the next line of code is needed */
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
}
.btn:hover {
    background-color: antiquewhite;
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
}
/* Cannot select button styles */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.disabled:hover {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: white;
}
/* Category Selection Box */
.mds-cuisine, .mds-type, .mds-ingredients, .mds-surprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: 1rem 1rem;
}
.btn-single {
    max-width: 10rem;
}
.foods-wrapper {
    display: grid;
    /* this line of code was copied from kevin powel */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 2rem;
}
.foods {
    background-color: white;
    border-radius: 4px;
    transition-duration: 0.2s;
}
.foods:hover {
    transform: scale(1.05);
}
.foods-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.content {
    padding: 1rem;
}
/* Media Queries */
/* Larger devices (large phones, tablets and bigger) */
@media screen and (min-width: 540px) {
    .foods-wrapper {
        /* The next line of code was copied from OnlineITtuts Tutorials on YouTube */
        grid-template-columns: repeat(2, 4fr);
    }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .mds-cuisine, .mds-type, .mds-ingredients, .mds-surprise {
        padding: 5px 10px;
        margin: 1rem 3rem;
    }
    .foods-wrapper {
        padding: 5px 10px;
        margin: 1rem 3rem;
        /* The next line of code was copied from OnlineITtuts Tutorials on YouTube */
        grid-template-columns: repeat(3, 4fr);
    }
}