/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap') async;
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    background-color: antiquewhite;
    font-family: "Jura", sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
    padding; 1rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
}
.logo {
    font-size: xxx-large;
}
/* No styling on links in general */
a {
    text-decoration: none;
}
/* Category Selection Box */
.mood-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.moods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.container {
}

.foods {
}